<div class="flex items-center justify-center ">
  <div class="max-w-md mx-auto bg-gray-400 rounded-xl shadow-md overflow-hidden md:max-w-2xl">
    <div class="md:flex">
      <div class="p-8 flex-1 flex flex-col items-center justify-center">
        <h2 class="tracking-wide text-lg text-blue-700 font-semibold mb-4 text-center">Perfil de Usuario</h2>

        <!-- Mensaje de éxito -->
        <div *ngIf="mensajeExito" class="mb-4 p-2 rounded bg-green-100 text-green-700 border border-green-400 text-center transition-all duration-300">
          {{ mensajeExito }}
        </div>

        <!-- Vista solo lectura -->
        <div *ngIf="!editando" class="space-y-2 w-full">
          <div>
            <span class="block text-gray-600 text-sm font-medium">Nombre de usuario:</span>
            <span class="block text-gray-900 text-base font-bold" id="nombreUsuario">{{ usuarioActual?.nombreUsuario }}</span>
          </div>
          <div>
            <span class="block text-gray-600 text-sm font-medium">Nombre:</span>
            <span class="block text-gray-900 text-base font-bold" id="nombre">{{ usuarioActual?.nombre }}</span>
          </div>
          <div>
            <span class="block text-gray-600 text-sm font-medium">Apellido:</span>
            <span class="block text-gray-900 text-base font-bold" id="apellido">{{ usuarioActual?.apellido }}</span>
          </div>
          <div>
            <span class="block text-gray-600 text-sm font-medium">Correo electrónico:</span>
            <span class="block text-gray-900 text-base font-bold" id="correo">{{ usuarioActual?.correo }}</span>
          </div>
          <button (click)="editar()" class="mt-4 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 w-full">Editar</button>
        </div>

        <!-- Formulario de edición -->
        <form *ngIf="editando" #form="ngForm" (ngSubmit)="guardarCambios()" class="space-y-2 w-full">
          <div>
            <label class="block text-gray-600 text-sm font-medium">Nombre:</label>
            <input [(ngModel)]="usuarioEditable.nombre" name="nombre" required
                   class="block w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                   oninput="this.value = this.value.replace(/[^A-Za-zÁÉÍÓÚáéíóúÑñ ]/g,'')"
                   #nombre="ngModel"/>
            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="text-red-700 text-xs">
              El nombre es obligatorio.
            </div>
          </div>
          <div>
            <label class="block text-gray-600 text-sm font-medium">Apellido:</label>
            <input [(ngModel)]="usuarioEditable.apellido" name="apellido" required
                   class="block w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                   oninput="this.value = this.value.replace(/[^A-Za-zÁÉÍÓÚáéíóúÑñ ]/g,'')"
                   #apellido="ngModel"/>
            <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="text-red-700 text-xs">
              El apellido es obligatorio.
            </div>
          </div>
          <div>
            <label class="block text-gray-600 text-sm font-medium">Correo electrónico:</label>
            <input [(ngModel)]="usuarioEditable.correo" name="correo" email required type="email"
                   class="block w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                   #correo="ngModel"/>
            <div *ngIf="correo.invalid && (correo.dirty || correo.touched)" class="text-red-700 text-xs">
              El correo es obligatorio y debe contener un &#64; válido.
            </div>
          </div>
          <div class="flex space-x-2 pt-4">
            <button type="submit" [disabled]="form.invalid"
                    class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700 w-full">
              Guardar
            </button>
            <button type="button" (click)="cancelar()"
                    class="px-4 py-2 bg-red-700 text-white rounded hover:bg-red-400 w-full">
              Cancelar
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
